<%
  paginated_products = Spree::Config.searcher.products if params.key?(:keywords)
  paginated_products ||= products
%>
<% if products.empty? %>
  <%= t(:no_products_found) %>
<% end %>
 
<% if products.any? %>
<ul class="product-listing">
  <% products.each do |product| %>
    <% if Spree::Config[:show_zero_stock_products] || product.has_stock? %>
    	<% unless product.product_properties.empty? %>
				<% for product_property in product.product_properties %>
					<% if product_property.property.name == "instrument" %>
				  	<li class="product" id="product_<%= product.id %>" onMouseOver="this.getElementsByTagName('img')[0].src = '/images/products/<%= product_property.value %>_on.jpg'" onMouseOut="this.getElementsByTagName('img')[0].src = '/images/products/<%= product_property.value %>_off.jpg'">
				  <% end %>
				<% end %>
			<% end %>
        <%= link_to small_image(product), product %>
        <!-- 
        <%= link_to product.name + "<span class='price selling'>#{product_price(product)}</span>", product, :class => 'info' %>
        -->
        <div class='info'>
<!--
        <object codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0" width="30" height="30">
        	<param name=movie value="/flash/audioplay.swf?file=file://localhost/Users/scapoual/Music/Les_vieilleries_sonores_de_Monsieur_Tympan_Vol1/~03~Dance%20party%20telephonique.mp3&auto=no&sendstop=yes&repeat=1&buttondir=/images/mini_player/negative&mode=playpause">
        	<param name=quality value=high>
        	<param name=wmode value=transparent>
        		<embed src="/flash/audioplay.swf?file=http://scapoual.free.fr/things/Cher%20Roudoudou.mp3&auto=no&sendstop=yes&repeat=1&buttondir=/images/mini_player/negative&mode=playpause" quality=high wmode:transparent width="30" height="30" align="" TYPE="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
        		</embed>
        </object>
-->
					<audio id="audio_<%= product.id %>" preloads=none>
						<source src=http://scapoual.free.fr/things/Cher%20Roudoudou.mp3 type='audio/mpeg'>
						<source src=http://scapoual.free.fr/things/Cher%20Roudoudou.ogg type='audio/ogg'>
					</audio>
					<button id="play_<%= product.id %>" class="play_sample" title="play" onClick="handleAudioButton('<%= product.id %>')">
						<img alt='play' src='/images/mini_player/mini_play_off.png' />
					</button>
        	<% unless product.product_properties.empty? %>
						<% for product_property in product.product_properties %>
							<% if product_property.property.name == "compositeur" %>
						  	<span class="compo"><%= product_property.value %></span>
						  <% end %>
						<% end %>
					<% end %>
					<span class="name"><%= product.name %></span> 
        	<%= "<span class='price selling'>#{product_price(product)}</span>" %>
        	<% form_for :order, :url => orders_url do |f| %>
        		<% if product.has_stock? || Spree::Config[:allow_backorders] %>
        			<%= hidden_field_tag (product.has_variants? ? :quantity : "variants[#{product.master.id}]"), '1', :class => "title" %>
					    &nbsp;
					    <button type='submit' class='large primary cart'>
					      <%= image_tag('/images/panier_vignette.png') %>
					    </button>
					  <% else %>
					    <%= content_tag('strong', t('out_of_stock')) %>
					  <% end %>
					<% end %>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>
<% end %>


<hr class="space" />
<% if paginated_products.respond_to?(:total_pages)
      params.delete(:search)
      params.delete(:taxon)
      
%><%= will_paginate(paginated_products,
                    :previous_label => "&#171; #{t('previous')}",
                    :next_label => "#{t('next')} &#187;") %>
<% end %>
<hr class="space" />
